<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>This is the show data page...</title>
    <link rel="stylesheet" href="/stylesheets/showData.css" />
  </head>
  <body>
    <div class="main_container">
      <a href="/" class="goBack">Go back to home</a>
      <h2 class="fileName">File name: <%= fileName %></h2>
      <p class="fileDescription">File Description: <%= filedata %>
      </p>
    </div>
  </body>
</html>
